@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--color-scroll);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-scroll-hover);
}

*,
html,
body {
  font-family: "Open Sans", sans-serif;
  scrollbar-color: var(--color-scroll) var(--color-secondary);
  scrollbar-width: thin;
}

body {
  padding: 8%;
  padding-top: 5%;
  padding-bottom: 0;
  text-align: left;
}

p.small-text {
  font-size: 16px;
  margin-top: 8px;
}
@media screen and (max-width: 468px) {
  p.small-text {
    font-size: 14px;
  }
}

.custom {
  padding-top: 1%;
}
@media screen and (max-width: 468px) {
  .custom {
    margin: 0px;
    padding: 18px;
    box-sizing: border-box;
  }
}
.custom h1,
.custom p {
  margin: 0;
}

.bank-accounts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px 50px;
  align-items: start;
  justify-content: start;
  margin: 20px 0 30px 0;
  padding: 0px;
  font-size: 18px;
  width: 100%;
  /* max-width: 460px; */
}
@media screen and (max-width: 468px) {
  .bank-accounts {
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
}
.bank-accounts li {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  padding: 18px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
/* .bank-accounts li:not(:last-child) {
  margin-bottom: 12px;
} */
.bank-accounts li:hover {
  border: 1px solid black;
}
.bank-accounts li.copied {
  background-color: rgba(29, 185, 84, 0.7);
  border: 1px solid rgba(29, 185, 84, 0.7);
  color: #fff;
  cursor: default;
}
@media screen and (max-width: 1342px) {
  .bank-accounts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 883px) {
  .bank-accounts {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 468px) {
  .bank-accounts li {
    padding: 8px 0 8px 0;
  }
}
.bank-accounts li h2 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
@media screen and (max-width: 468px) {
  .bank-accounts li h2 {
    font-size: 18px;
  }
}
.bank-accounts li img {
  width: 56px;
  height: 56px;
  margin-right: 18px;
  border-radius: 50%;
}
@media screen and (max-width: 468px) {
  .bank-accounts li img {
    width: 48px;
    height: 48px;
    margin-right: 12px;
    margin-left: 8px;
  }
}
